@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor1: #06283D;
    --cor2: #256D85;
    --cor3: #22D4FD;
    --cor4: #DFF6FF;
    --font_titulo: 'Krona One', sans-serif; 
    --font_padrao: font-family: 'Montserrat', sans-serif;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cor1);
    color: var(--cor4);
}

header.cabecalho {
    padding: 1% 12%;
    
}

a.cabecalho_link {
    text-decoration: none;
    font-family: var(--font_padrao);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor3);
    padding-right: 7%;
}

main.conteudo {
    display: flex;
    align-items: flex-start;
    gap: 10%;
    padding: 0% 12%;
}

section.conteudo_principal {
    width: 50%;
    display: flex;
    flex-direction: column;
}

h1.conteudo_principal_titulo {
    font-family: var(--font_titulo);
    font-size: 2rem;
    line-height: 1.5em;
    padding-bottom: 2.5%;
}

h1 > strong {
    color: var(--cor3);
}

p.conteudo_principal_paragrafo {
    font-family: var(--font_padrao);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.3em;
    padding-bottom: 2.5%;
}

nav.conteudo_navegacao {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.conteudo_navegacao_subtitulo {
    font-family: var(--font_titulo);
    color: var(--cor4);
    font-size: 1.5rem;
    font-weight: 400;
}

a.conteudo_navegacao_link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-family: var(--font_padrao);
    font-size: 1.5rem;
    color: var(--cor4);
    text-decoration: none;
    border: 2px solid var(--cor3);
    border-radius: 8px;
    width: 370px;
    padding: 1.3%;
    margin: 1.7%;
}

a.conteudo_navegacao_link:hover {
    background-color: var(--cor2);
}

.conteudo_imagem {
    width: 45%;
    display: flex;
    justify-content: center;
}

footer.rodape {
    background-color: var(--cor3);
    color: var(--cor1);
    text-align: center;
    padding: 1%;
}

p.rodape_paragrafo {
    font-family: var(--font_padrao);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {

    header.cabecalho {
        text-align: center;
        padding: 4%;
    }

    main.conteudo {
        flex-direction: column-reverse;
        align-items: center;
    }

    main.conteudo {
        padding: 0% 4%;
    }

    section.conteudo_principal {
        width: 100%;
       text-align: center
    }

    nav.conteudo_navegacao {
        padding: 1% 4% 4% 2%;
    }

    .conteudo_imagem {
        width: 50%;
        padding: 4%;
    }
}
